<html>
  <head>
    <title>Inflation</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/bootstrap-datepicker.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">

        <div class="col-md-4 col-md-offset-4">
          <h1>Inflation Calculator</h1>

          <div class="form-group">
            <label for="startDate">Start Date</label>
            <input type="text" class="form-control" id="startDate" placeholder="2012/1/1">
          </div>

          <div class="form-group">
            <label for="endDate">End Date</label>
            <input type="text" class="form-control" id="endDate" placeholder="2012/12/1">
          </div>

          <div class="form-group">
            <label class="sr-only" for="startPrice">Start price</label>
            <div class="input-group">
              <div class="input-group-addon">$</div>
              <input type="text" class="form-control" id="startPrice" placeholder="100">
            </div>
          </div>

          <button class="btn btn-default" id="calc">Calculate</button>
          <br><br>

          <div class="form-group">
            <label class="sr-only" for="endPrice">End price</label>
            <div class="input-group">
              <div class="input-group-addon">$</div>
              <input type="text" class="form-control" id="endPrice">
            </div>
          </div>

        </div><!-- col-md-4 col-md-offset-4 -->
      </div><!-- row -->
    </div><!-- container -->
    <script src="javascripts/lib/jquery.min.js"></script>
    <script src="javascripts/lib/bootstrap.min.js"></script>
    <script src="javascripts/lib/bootstrap-datepicker.min.js"></script>
    <script src="javascripts/custom/add-datepicker.js"></script>
    <script src="javascripts/custom/add-datepicker-to-input-fields.js"></script>
    <script src="javascripts/custom/inflation-calculator.js"></script>
    <script src="javascripts/custom/on-click.js"></script>
  </body>
</html>